{
  "env": {
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "extends": "eslint:recommended",
  "globals": {
    "data": false,
    "INJURIES":false,
    "google": false,
    "Map":false,
  }
  
}