a,
a:hover,
a:visited {
  text-decoration: none;
  color: black;
}

body {
  font-family: 'Questrial', sans-serif;
  margin: 0px;
}

header {
  background-color: #fec01c;
  display: flex;
  justify-content: flex-start;
  max-height: 20vh;
}

.brandBlock {
  display: flex;
  flex: 2;

}

.brandBlock img {
  width: 20vw;
  margin-left: -4vw;

}

.headerText {
  flex: 4;
  align-self: flex-end;
  margin-left: -10vw;

}

.heroContainer {
  background-color: #333;
  display: flex;
  justify-content: center;
}

.btnsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  padding: 3%;
}


.svgIcon {
  padding: 4%;
  background-color: #fec01c;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
  filter: drop-shadow(-3px 7px 2px rgba(0, 0, 0, 0.15));
  -webkit-filter: drop-shadow(-3px 7px 2px rgba(0, 0, 0, 0.15));
  -moz-filter: drop-shadow(-3px 7px 2px rgba(0, 0, 0, 0.15));
  transition: filter 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.svgIcon:hover {
  background-color: #ccc;
  filter: drop-shadow(-3px 7px 5px rgba(0, 0, 0, 0.35));
  -webkit-filter: drop-shadow(-3px 7px 5px rgba(0, 0, 0, 0.35));
  -moz-filter: drop-shadow(-3px 7px 5px rgba(0, 0, 0, 0.35));

}

.btnContainer h4 {
  text-align: center;
}

.btnContainerRes {
  display: none;
}

.totalIncidents,
.twoMainIncidents {
  width: 30%;
  text-align: center;
  font-size: 1.3em;
  margin: 0 auto;
  color: #333;
  border: 3px solid #fcbe32;
  padding: 1%;
}

.totalTitle,
.mainTitle {
  font-weight: 400;
  font-size: 1.6em;
  text-align: center;

}

.totalIncidents p,
.twoMainIncidents p {
  border-bottom: 1.5px solid #333;
}

.dateInputClass {
  font-weight: 400;
  font-size: 1.3em;
  text-align: center;

}

.selectYearClass {
  background-color: #fcbe32;
  border: 1.5px solid #333;
  font-size: 0.8em;

}

option {
  background-color: #333;
  color: white;
}

.clickmeClass {
  background-color: #fec01c;
  border: 2px solid #fec01c;
  padding: 0.5%;
  cursor: pointer;
  font-size: 0.8em;
  margin: 2%;
  transition: border .5s ease-in-out;
}


.clickmeClass:hover {

  border: 2px groove #333;
}

footer {
  display: flex;
  justify-content: center;
  height: 20%;
  width: 100%;
  text-align: center;
  background-color: #fec01c;
}

.table {
  display: flex;
  max-width: 70%;

}

.tables td {
  border: 1px solid #333;
  width: 5%;
  text-align-last: center;
}

/*CELLPHONES MEDIA QUERY*/
@media screen and (max-width: 500px) {
  .headerText h1 {
    font-size: 1.3em;

  }

  .headerText h2 {
    font-size: 1em;

  }
}


@media screen and (max-width: 991px) {

  .brandBlock img {
    width: 30vw;
    margin-left: -4vw;

  }

  .headerText {
    font-size: 0.8em;

  }

  .btnsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3%;
  }

  .btnContainerRes {
    display: flex;
    width: 70%;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    background-color: #fec01c;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    border-radius: 3%;
    margin: 2%;
    cursor: pointer;
    filter: drop-shadow(-3px 7px 2px rgba(0, 0, 0, 0.15));
    -webkit-filter: drop-shadow(-3px 7px 2px rgba(0, 0, 0, 0.15));
    -moz-filter: drop-shadow(-3px 7px 2px rgba(0, 0, 0, 0.15));
    transition: filter 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }


  .insidebtnConRes {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btnContainerRes:hover {
    background-color: #ccc;
    filter: drop-shadow(-3px 7px 5px rgba(0, 0, 0, 0.35));
    -webkit-filter: drop-shadow(-3px 7px 5px rgba(0, 0, 0, 0.35));
    -moz-filter: drop-shadow(-3px 7px 5px rgba(0, 0, 0, 0.35));

  }

  .btnContainer {
    display: none;

  }




}
