/*  Colors  
    principal: #fec01c
    gris claro: #626875
    gris oscuro: #333333
    negro: #111111
    blanco: #ffffff

*/

/* Fonts

font-family: 'Questrial', sans-serif;

    font-family: 'Fira Sans Condensed', sans-serif;
*/

/* GENERIC STYLES */

body {
  font-family: 'Questrial', sans-serif;
  margin: 0px;
}


header {
  background-color: #fec01c;
}

h1 {
  margin: 0px;
}

#hero {}

.btn_panel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btnMedia {
  display: flex;
  background-color: #fec01c;
  padding: 3%;
  margin: 5%;
  width: 50%;
  height: 20%;
  border-radius: 4%;
  font-size: 2em;
}

.btnMedia h2 {
  font-size: 90%;

}

.icon a {
  max-width: 50%;
}

footer {
  display: flex;
  justify-content: center;
  height: 40%;
  width: 100%;
  padding: 3%;
  text-align: center;
  background-color: #fec01c;
}




/*CELLPHONES MEDIA QUERY*/

@media screen and (max-width: 767px) {
  header {
    display: flex;
    margin-bottom: 5%;
    padding: 3% 5%;
    text-align: right;
  }

  .webName {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    margin-top: 4%;
    font-size: 1em;
    border-bottom: 1px solid #333;

  }

  .sloganName {

    font-size: 0.7em;
    color: #333;

  }

  .heroContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid #fec01c;
    padding: 3%;
  }

  .heroContainer img{
   max-width: 90%;
  }

  .btnContainer {
    display: flex;
    flex-direction: column;


  }

  .btn_base {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 4%;
    padding: 1%;
    max-height: 20vh;
    background-color: #fec01c;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    cursor: pointer;


  }

  .svgIcon {
    max-width: 30%;
    display: block;
  }

  .svgIconA {
   
    max-height: 73%;
    display: block;
    
  }

  .logoIconSmall {
    margin-top: 5%;
    max-width: 30%;
    margin-left: -39%;

  }

  .shield {
    max-width: 30%;
    margin-left: -6.7%;
    margin-top: 7%;
  }

  .shieldIndex {
    max-width: 50%;
    margin-left: -8.7%;
    margin-top: 7%;
  }

  .headerTextIndex {
    display: flex;
    flex-direction: column;
    margin-left: 6%;
    margin-top: 8%;
  }

  .headerTitle,
  .headerSubTitle {
    font-family: 'Fira Sans Condensed', sans-serif;

  }

  .headerTitle {
    font-size: 1.1em;
  }

  .headerSubTitle {
    font-size: 0.9em;
    letter-spacing: .12em;
    margin-top: -7%;

  }

  .iconEach {
    align-self: self-start;
    max-width: 10%;
  }

  .headerEachPage {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-end;
    margin-left: 3%;

  }


  .mediaIcon {
    max-width: 30%;
    align-self: flex-end;
    transform: translateX(40%);
  }

  .mediaIconA {
    max-width: 20%;
    transform: translateX(30%)
  }

  .mediaIconSmall {
    max-width: 20%;
    margin-left: -20%;
    filter: drop-shadow(-3px 7px 2px rgba(0, 0, 0, 0.55));
    -webkit-filter: drop-shadow(-3px 7px 2px rgba(0, 0, 0, 0.55));
    -moz-filter: drop-shadow(-3px 7px 2px rgba(0, 0, 0, 0.55));
  }

  .mediaIconSmallA {
    max-width: 16%;
    margin-left: -20%;
    filter: drop-shadow(-3px 7px 2px rgba(0, 0, 0, 0.55));
    -webkit-filter: drop-shadow(-3px 7px 2px rgba(0, 0, 0, 0.55));
    -moz-filter: drop-shadow(-3px 7px 2px rgba(0, 0, 0, 0.55));
  }


  .headerEachPage h2 {
    margin-right: 30%;

    font-weight: 300;
    transform: translateY(30%);
    position: relative;
    margin-left: 3%;
    font-weight: 300;
  }

  table {
    font-size: 0.9em;
    color: #333;
  }

  thead,
  th {
    background-color: #fcbe32;
    color: #000;
    border: 1px solid #333;
    padding: 1%;
  }

  td {
    width: 40%;
    height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
  }

  .graphics {
    display: flex;
    justify-content: center;
    align-content: center;

  }

  .mainTitle,
  .totalTitle {
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
    margin-bottom: 2%;

  }

  .totalIncidents,
  .twoMainIncidents {
    width: 90%;
    margin: 0 auto;
    color: #333;
    border: 3px solid #fcbe32;
    padding: 1%;
  }


  footer {
    background-color: #fec01c;
  }




  @media screen and (min-width: 992px) {
    #headerText {
      padding: 15px;
    }

    .webName {
      font-size: 35px;
      margin: 0px;
    }

    .sloganName {
      margin-top: 5px;
      margin-bottom: 0px;
    }

    div#hero {
      width: 100%;
      height: 350px;
      background: #ffffff url("imgs/travel-to-united-states-of-america.jpg") no-repeat left top;
      background-size: cover;
    }
    .heroContainer{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .heroContainer img{
     max-width: 40%;
    }


    .btn_panel {
      display: flex;
      width: 100%;
      justify-content: space-around;
      background-color: red;
      border-radius: 50%;

    }

    .mediaIconA {
      max-width: 20%;
      transform: translateX(30%)
    }

    .btn_panel img {
      width: 30%;
    }

    .btnContainer {
      width: 33%;
      height: 130px;
      align-items: center;
      display: flex;

    }


  }